---

---

<button
	class="px-6 py-3 bg-linear-to-r from-blue-500 via-purple-500 to-pink-500 animate-gradient text-white font-bold rounded-3xl shadow-md transition duration-200 border-2 border-b-fuchsia-300 border-l-fuchsia-500"
>
	<slot />
</button>
