---
const { href } = Astro.props
const isExternal = href.startsWith("http")
---

<a
	href={href}
	target={isExternal ? "_blank" : "_self"}
	rel={isExternal ? "noopener noreferrer" : undefined}
>
	<slot />
</a>
