---
interface Props {
	class?: string
	href: string
	mk: boolean
}
const { class: className, href, mk } = Astro.props
const blank = href.startsWith("http")
---

<a
	class:list={[className, "link"]}
	href={href}
	target={blank ? "_blank" : "_self"}
	rel={blank ? "noopener noreferrer" : undefined}
>
	<slot />
</a>
