---
// ..
---

<span
	class="justify-center text-center my-4 mx-auto opacity-60 text-surface-main"
>
	Web design: <br />
	<a
		class="hover:text-emphasis transition duration-200"
		href="https://www.rireno.me/"
		target="_blank"
	>
		www.rireno.me
	</a>
</span>
